<style>
.table-wide {
  width: 100%;
}
.table-wide td {
  height:60px;
}
.wrong {
  background: red;
}
.right {
  background:green
}
</style>
Hello
<div ng-controller="HomeCtrl as home">
<h2>Choose translation</h2>
<b>name</b>
<br /><br />
<table class="table-wide">
  <tr>
    <td>
      <button type="button" class="btn btn-default btn-lg" ng-click="answer('first')">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 1. <span ng-class="firstclass"> {{first}}</span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-default btn-lg" ng-click="answer('second')">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 2. <span> {{second}}</span>
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <button type="button" class="btn btn-default btn-lg" ng-click="answer(3)">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 3. <span> {{third}}</span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-default btn-lg" ng-click="answer(4)">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 4. <span> {{fourth}}</span>
      </button>
    </td>
  </tr>
</table>
</div>
